.maintenance-logo {
  img {
    width: 150px;
    height: 150px;
  }
}
.custom_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page-wapper {
  width: 660px;
  strong {
    text-transform: capitalize;
    font-size: 25px;
    line-height: 30px;
  }
  h1 {
    text-transform: capitalize;
    font-size: 70px;
    line-height: 80px;
  }
  p {
    font-size: 20px;
    line-height: 25px;
  }
}
