<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo">
      <a href="javascript:void();">
        <img src="..//..//../assets/img/logo.png" alt="logo" title="Bhaktivedanta Academy for Culture & Education">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="javascript:void();">Home</a>
        <a class="nav-item nav-link" href="#about">About Us
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
            <path
              d="M2.03992 0.206665L4.91992 3.08667L7.79992 0.206665L8.91992 0.793332L4.91992 4.79333L0.919922 0.793332L2.03992 0.206665Z"
              fill="white" />
          </svg>
          <ul class="list">
            <li class="list_item">
              <a href="javascript:void();">About Iskcon</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">About Srila Prabhupada</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">About Gopal Krishna Goswami Maharaja</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">Our Philosophy</a>
            </li>
          </ul>
        </a>
        <!-- <a class="nav-item nav-link" href="javascript:void();">visit
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
            <path
              d="M2.03992 0.206665L4.91992 3.08667L7.79992 0.206665L8.91992 0.793332L4.91992 4.79333L0.919922 0.793332L2.03992 0.206665Z"
              fill="white" />
          </svg>
        </a> -->
        <a class="nav-item nav-link" href="javascript:void();">Vrindavan DARshan
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
            <path
              d="M2.03992 0.206665L4.91992 3.08667L7.79992 0.206665L8.91992 0.793332L4.91992 4.79333L0.919922 0.793332L2.03992 0.206665Z"
              fill="white" />
          </svg>
          <ul class="list">
            <li class="list_item">
              <a href="javascript:void();">Srila Prabhupada's Desire</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">7 Temples Of Vrindavan</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">Yamuna Aarti</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">Govardhan Hill</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">Srila Prabhupada Room</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">Rupa Goswami Samadhi</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">Sanatana Goswami Samadhi</a>
            </li>
            <li class="list_item">
              <a href="javascript:void();">25 Lilasthalis</a>
            </li>
          </ul>
        </a>
        <!-- <a class="nav-item nav-link" href="javascript:void();">Social Initiatives
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
            <path
              d="M2.03992 0.206665L4.91992 3.08667L7.79992 0.206665L8.91992 0.793332L4.91992 4.79333L0.919922 0.793332L2.03992 0.206665Z"
              fill="white" />
          </svg>
        </a> -->
        <a class="nav-item nav-link" href="javascript:void();">Contact Us</a>

      </div>
      <button class="visit-btn" href="javascript:void();">visit bace</button>
    </div>
  </nav>
  <div class="container">



  </div>
</header>
